<div class="my-skills" id="my-skills">
    <div class="headline-section-mobile">
        <h1>{{ 'MY_SKILLS' | translate }}</h1>
        <div class="purple-line"></div>
    </div>
    <p id="i-have-gained-text-mobile">{{ 'SKILLS_TEXT' | translate }}</p>
    <div class="skills-icons-box">
        <div data-aos="fade-down" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1500"
            class="skills-icon">
            <img src="/assets/img/html.svg" alt="">
            <p>HTML</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="250" data-aos-delay="200" data-aos-duration="1200"
            class="skills-icon">
            <img src="/assets/img/css.svg" alt="">
            <p>CSS</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="300" data-aos-delay="150" data-aos-duration="1000"
            class="skills-icon">
            <img src="/assets/img/javascript.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="220" data-aos-delay="250" data-aos-duration="1300"
            class="skills-icon">
            <img src="/assets/img/typescript.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="180" data-aos-delay="300" data-aos-duration="1100"
            class="skills-icon">
            <img src="/assets/img/angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="200" data-aos-delay="400" data-aos-duration="1000"
            class="skills-icon">
            <img src="/assets/img/firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="260" data-aos-delay="350" data-aos-duration="1400"
            class="skills-icon">
            <img src="/assets/img/git.svg" alt="">
            <p>GIT</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="300" data-aos-delay="450" data-aos-duration="1500"
            class="skills-icon">
            <img src="/assets/img/api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="280" data-aos-delay="500" data-aos-duration="1600"
            class="skills-icon">
            <img src="/assets/img/scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="150" data-aos-delay="550" data-aos-duration="1700"
            class="skills-icon">
            <img src="/assets/img/material-design.svg" alt="">
            <p>Material Design</p>
        </div>
        <div data-aos="fade-down" data-aos-offset="210" data-aos-delay="600" data-aos-duration="1800"
            class="skills-icon">
            <img src="/assets/img/interest.svg" alt="">
            <p style="color: rgba(151, 71, 255, 1);">Continually learning</p>
        </div>
    </div>

    <div class="skills-text-box">
        <div>
            <div class="first-box">
                <div class="headline-section">
                    <h1>{{ 'MY_SKILLS' | translate }}</h1>
                    <div class="purple-line"></div>
                </div>
                <div class="second-box">
                    <p id="i-have-gained-text">{{ 'SKILLS_TEXT' | translate }}</p>

                    <h2>{{ 'LOOKING_FOR' | translate }}<span style="color: rgba(151, 71, 255, 1);">{{ 'ANOTHER_SKILL' |
                            translate }}</span>?</h2>
                    <p>{{ 'FEEL_FREE' | translate }}</p>

                    <a class="get-in-touch-button" href="#contact-component">{{ 'GET_IN_TOUCH' | translate }}</a>
                    <div class="pseudo-box"> </div>
                </div>
            </div>
        </div>
    </div>