<div class="my-skills" id="my-skills">
    <div class="headline-section-mobile">
        <h1>{{ 'MY_SKILLS' | translate }}</h1>
        <div class="purple-line"></div>
    </div>
    <p id="i-have-gained-text-mobile">{{ 'SKILLS_TEXT' | translate }}</p>
    <div class="skills-icons-box">
        <div class="skills-icon">
            <img src="/assets/img/html.svg" alt="">
            <p>HTML</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/css.svg" alt="">
            <p>CSS</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/javascript.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/typescript.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/git.svg" alt="">
            <p>GIT</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/material-design.svg" alt="">
            <p>Material Design</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/interest.svg" alt="">
            <p style="color: rgba(151, 71, 255, 1);">Continually learning</p>
        </div>
    </div>
    <div class="skills-text-box">
        <div>
            <div class="first-box">
                <div class="headline-section">
                    <h1>{{ 'MY_SKILLS' | translate }}</h1>
                    <div class="purple-line"></div>
                </div>
                <div class="second-box">
                    <p id="i-have-gained-text">{{ 'SKILLS_TEXT' | translate }}</p>

                    <h2>{{ 'LOOKING_FOR' | translate }}<span style="color: rgba(151, 71, 255, 1);">{{ 'ANOTHER_SKILL' | translate }}</span>?</h2>
                    <p>{{ 'FEEL_FREE' | translate }}</p>

                    <a class="get-in-touch-button" href="#contact-component">{{ 'GET_IN_TOUCH' | translate }}</a>
                </div>
            </div>
        </div>
    </div>