<div class="my-skills" id="my-skills">
    <div class="headline-section-mobile">
        <h1>My skills</h1>
        <div class="purple-line"></div>
    </div>
    <p id="i-have-gained-text-mobile">I have gained experience in building projects with different frontend technologies and concepts.</p>
    <!-- <div class="first-box"> -->
    <div class="skills-icons-box">
        <div class="skills-icon">
            <img src="/assets/img/html.svg" alt="">
            <p>HTML</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/css.svg" alt="">
            <p>CSS</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/javascript.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/typescript.svg" alt="">
            <p>TypeScript</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/git.svg" alt="">
            <p>GIT</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/material-design.svg" alt="">
            <p>Material Design</p>
        </div>
        <div class="skills-icon">
            <img src="/assets/img/interest.svg" alt="">
            <p style="color: rgba(151, 71, 255, 1);">Continually learning</p>
        </div>
    </div>
    <div class="skills-text-box">
        <div>
            <div class="first-box">
                <div class="headline-section">
                    <h1>My skills</h1>
                    <div class="purple-line"></div>
                </div>
                <div class="second-box">
                    <p id="i-have-gained-text">I have gained experience in building projects with different frontend technologies and concepts.</p>

                    <h2>Looking for <span style="color: rgba(151, 71, 255, 1);">another skill</span>?</h2>
                    <p>Feel free to contact me. I look forward to expanding on my previous knowledge.</p>

                    <a class="get-in-touch-button" href="#contact-component">Get in touch</a>
                </div>
            </div>
        </div>
    </div>