<div id="contact-component" class="contact-component">
    <div class="headline-box">
        <div class="purple-line"></div>
        <h1>{{ 'CONTACT' | translate }}</h1>
    </div>
    <div data-aos="slide-up" data-aos-delay="200" class="main-box">
        <div class="text-box">
            <h2>{{ 'PROBLEM' | translate }}</h2>
            <p>{{ 'CONTACT_ME_FORM' | translate }}</p>
            <p>{{ 'NEED_DEVELOPER' | translate }}<span style="font-weight: bold;">{{ 'CONTACT_ME' | translate }}</span>
            </p>
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" class="form-box" #contactForm="ngForm">

            <input #name="ngModel" minlength="3" [(ngModel)]="contactData.name"
                [placeholder]="'NAME_PLACEHOLDER' | translate" type="text" name="name" id="" required>
            <div class="error-message">
                <span *ngIf="!name.valid && (name.touched || contactForm.submitted) && !name.disabled">
                    {{ 'NAME_REQUIRED' | translate }}
                </span>
            </div>

            <input #email="ngModel" [(ngModel)]="contactData.email" [placeholder]="'EMAIL_PLACEHOLDER' | translate"
                type="email" name="email" id="" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            <div class="error-message">
                <span *ngIf="!email.valid && (email.touched || contactForm.submitted) && !email.disabled">
                    {{ 'EMAIL_REQUIRED' | translate }}
                </span>
            </div>

            <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message"
                [placeholder]="'MESSAGE_PLACEHOLDER' | translate" type="text" name="message" required></textarea>
            <div class="error-message">
                <span *ngIf="!message.valid && (message.touched || contactForm.submitted) && !message.disabled">
                    {{ 'MESSAGE_REQUIRED' | translate }}
                </span>
            </div>

            <div class="privacy-policy-checkbox">
                <input #privacyCheckbox="ngModel" [(ngModel)]="contactData.privacyPolicy" type="checkbox"
                    name="privacy-policy-checkbox" id="" required>
                <p>{{ 'I_READ' | translate }}<a [routerLink]="['/privacy-policy']">{{ 'PRIVACY_POLICY' | translate
                        }}</a>{{ 'AND_AGREE' | translate }}</p>
            </div>
            <div class="error-message">
                <span *ngIf="!privacyCheckbox.valid && contactForm.submitted">
                    {{ 'MUST_AGREE' | translate }}
                </span>
            </div>

            <button type="submit" [ngClass]="{'enabled-button': isButtonEnabled(contactForm)}"
                [disabled]="!isButtonEnabled(contactForm)">
                {{ 'SEND_MESSAGE' | translate }}
            </button>
        </form>

    </div>
</div>