<div class="above-the-fold">
    <div class="above-the-fold-content">
        <div class="hero">
            <img src="/assets/img/profile-picture.png" alt="Here should be my profile picture">
        </div>
        <div class="frame-side">
            <div class="frame">
                <div class="first-frame-section">
                    <h2>I am</h2>
                </div>
                <div class="second-frame-section">
                    <h1>Helmut Martens</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                    <button>Let's talk!</button>
                </div>
            </div>

            <div style="height: 10px;"> </div>

            <!-- <div style="height: 10px;"> </div> -->

        </div>
    </div>
    <div class="border">
        <!-- <img src="./../../../assets/img/28. hero-background.svg" alt="here should be the background of my profile"> -->
        <div class="above-the-fold-bottom-bar">
            <div class="contact-buttons">
                <div class="purple-line"></div>
                <img src="/assets/img/Property 1=Default.svg" alt="github">
                <img src="/assets/img/Property 1=Default (1).svg" alt="email">
                <img src="/assets/img/Vector (3).svg" alt="linkedin">
                <a style="color: white;" href="">helmut.martens87&#64;gmail.com</a>
            </div>
            <div class="scroll">
                <span>Scroll down</span>
                <img src="/assets/img/arrow-scroll-down.svg" alt="here is an arrow">
            </div>
        </div>
    </div>
</div>