<div id="above-the-fold" class="above-the-fold">
    <a id="top"></a>
    <div class="above-the-fold-content">
        <div class="hero">
            <img src="/assets/img/profile-picture.png" alt="Here should be my profile picture">
        </div>
        <div class="frame-side">
            <div class="frame">
                <div class="first-frame-section">
                    <h2>I am</h2>
                </div>

                <div class="second-frame-section">
                    <h1>Helmut Martens</h1>
                    <h2>FRONTEND DEVELOPER</h2>
                    <a href="#contact-component" class="lets-talk-button">Let's talk!</a>
                </div>
            </div>
            <div style="height: 10px;"> </div>
        </div>
    </div>
    <div class="border">
        <div class="above-the-fold-bottom-bar">
            <div class="contact-buttons">
                <div class="purple-line"></div>

                <a href="https://github.com/HelmutM87"><img src="/assets/img/Property 1=Default.svg" alt="github"></a>
                <a href="mailto:info@helmut-martens.com"><img src="/assets/img/Property 1=Default (1).svg"
                        alt="email"></a>
                <a href="https://www.linkedin.com/in/helmut-martens-2174921b2"><img src="/assets/img/Vector (3).svg"
                        alt=""></a>
                <a id="email-adress" style="color: white;" href="#contact-component">info&#64;helmut-martens.com</a>
            </div>
            <div class="scroll">
                <span>Scroll down</span>
                <img src="/assets/img/arrow-scroll-down.svg" alt="here is an arrow">
            </div>
        </div>
    </div>
</div>