.above-the-fold {
    background-image: url('./../../../assets/img/Photo shadows.svg');
    background-position: top 80px left;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // min-height: 100vh;
}

.above-the-fold-content {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top 200px center;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
}

.border {
    background-image: url('./../../../assets/img/28.\ hero-background.svg');
    margin-top: -1250px;
    width: 100%;
    height: 1250px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.above-the-fold-bottom-bar {
    max-width: 1920px;
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

.frame-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-frame-section {
    >h2 {
        transform: rotate(270deg);
        color: white;
        font-size: 48px;
        font-weight: 400;
    }
}

.second-frame-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;

    >h1 {
        color: white;
        font-size: 80px;
    }

    >h2 {
        color: rgba(151, 71, 255, 1);
        font-weight: 400;
        font-size: 62px;
    }
}

.lets-talk-button {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: rgba(112, 230, 28, 1);
    font-size: 23px;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 125ms ease, padding 100ms ease;

    &:hover {
        background-color: rgba(151, 71, 255, 1);
        padding: 20px 35px;
    }
}

.above-the-fold-bottom-bar {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 32px;
    margin-bottom: 32px;
}

.purple-line {
    color: rgba(151, 71, 255, 1);
    width: 100px;
    border-style: solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-buttons {
    display: flex;
    align-items: center;
    gap: 32px;

    >a {
        display: flex;
        align-items: center;

        &:hover {
            transition: 125ms;
            cursor: pointer;
            filter: drop-shadow(0px 0px 4px #FFFFFF);
        }
    }

    >img {
        &:hover {
            transition: 125ms;
            cursor: pointer;
            filter: drop-shadow(0px 0px 4px #FFFFFF);
        }
    }
}

.scroll {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
    transform: rotate(90deg);
    /* Dreht das Element, damit der Text nach unten zeigt */
    animation: bounce 3s infinite;

    >img {
        transform: rotate(270deg);
        /* Dreht das Bild zurück */

    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: rotate(90deg) translateX(0);
    }

    40% {
        transform: rotate(90deg) translateX(-30px);
    }

    60% {
        transform: rotate(90deg) translateX(-15px);
    }
}

@media(max-width: 3299px) {
    .border {
        margin-top: -1148px;
        height: 1148px;
    }
}

@media(max-width: 2999px) {
    .border {
        margin-top: -1050px;
        height: 1050px;
    }
}

@media(max-width: 2499px) {
    .border {
        margin-top: -900px;
        height: 900px;
    }
}

@media(max-height: 1159px) {
    .border {
        margin-top: -700px;
        height: 700px;
    }

    .above-the-fold {

        background-position: left bottom;
        background-size: 48%;
    }
}

@media (max-width: 1920px) {

    .border {
        margin-top: -680px;
        height: 680px;
    }
}

@media (max-width: 1850px) {
    .frame {
        justify-content: flex-start;
    }

    .first-frame-section {
        >h2 {
            font-size: 38px;
        }
    }

    .second-frame-section {
        >h1 {
            font-size: 60px;
        }

        >h2 {
            font-size: 46px;
        }
    }
}

@media (max-width: 1529px) {

    .border {
        margin-top: -600px;
        height: 600px;
    }
}

@media (max-width: 1359px) {

    .lets-talk-button {
        font-size: 18px;
    }

    .border {
        margin-top: -500px;
        height: 500px;
    }

    .first-frame-section {
        >h2 {
            font-size: 32px;
        }
    }

    .second-frame-section {
        >h1 {
            font-size: 50px;
        }

        >h2 {
            font-size: 39px;
        }
    }

    .above-the-fold {
        background-position: left center;
        background-size: 50%;
    }
}

@media (max-width: 1234px) {
    .above-the-fold {
        background-position: left center;
        background-size: 60%;
    }

    .first-frame-section {
        >h2 {
            font-size: 28px;
        }
    }

    .second-frame-section {
        >h1 {
            font-size: 40px;
        }

        >h2 {
            font-size: 31px;
        }

    }

    .lets-talk-button {
        font-size: 14px;
        padding: 10px 25px;

        &:hover {
            padding: 20px 25px;
        }
    }
}

@media (max-width: 945px) {
    .hero {
        height: 880px;

        >img {
            height: fit-content;
            overflow: hidden;
            padding-top: 70px;
        }
    }

    .above-the-fold {
        background-size: 55%;
    }

    .first-frame-section {
        >h2 {
            font-size: 20px;
        }
    }

    .second-frame-section {
        >h1 {
            font-size: 30px;
        }

        >h2 {
            font-size: 23px;
        }
    }

    .lets-talk-button {
        font-size: 20px;
        width: max-content;
    }

    .border {
        margin-top: -480px;
        height: 540px;
    }
}

@media (min-width: 800px) {
    .above-the-fold-content-mobile {
        display: none;
    }

    .border-mobile {
        display: none;
    }
}

@media (max-width: 799px) {

    .border {
        display: none;
    }

    .above-the-fold-content {
        display: none;
    }

    .scroll {
        display: none;
    }

    .above-the-fold {
        background-position: top 80px center;
        background-size: 100%;
        height: 100vh;
    }

    .above-the-fold-content-mobile {
        width: 100%;
        height: 100%;
    }



    .border-mobile {
        background-image: url('./../../../assets/img/28.\ hero-background.svg');
        width: 100%;
        height: 88%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 25%;
        align-items: center;
    }

    .hero {
        height: 100%;
        width: 100%;
        background-image: url('./../../../assets/img/profile-picture.png');
        display: flex;
        background-position: top 10px center;
        background-size: contain;
        flex-direction: column;
        justify-content: flex-end;
        // justify-content: space-around;
        // align-items: center;


    }



    // .first-frame-section {
    //     >h2 {
    //         font-size: 16px;
    //     }
    // }

    // .second-frame-section {
    //     >h1{
    //         font-size: 26px;
    //     }
    //     >h2{
    //         font-size: 20px;
    //     }
    // }

    .first-frame-section {

        >h2 {
            font-size: 23px;

        }
    }

    .second-frame-section {
        >h1 {
            font-size: 40px;
        }

        >h2 {
            font-size: 31px;
        }
    }

    // .above-the-fold-bottom-bar {
    //     margin-right: 0;
    //     margin-bottom: 32px;
    // }
}









@media (max-width: 599px) {
    #email-adress {
        display: none;
    }

    // .lets-talk-button{
    //     bottom: -70px;
    // }

    // .border-mobile {
    //     gap: 15%;
    // }
}

// @media (max-width: 499px) {
//     .hero {
//         background-position: top 40px center;
//     }

//     .above-the-fold {
//         // background-position: top 160px center;
//     }

// .border-mobile{
//     height: 86%;
// }
// }

@media (max-width: 449px) {
    .border-mobile {
        height: 92%;
        // gap: 28%;
    }
}

@media (max-width: 499px) {
    .first-frame-section {
        //         width: 64px;
        //         display: flex;
        //         justify-content: flex-end;

        >h2 {
            font-size: 19px;
        }
    }

    .second-frame-section {
        //         display: flex;

        >h1 {
            font-size: 34px;
        }

        >h2 {
            font-size: 26px;
        }
    }
}

@media (max-width: 399px) {
    .border-mobile {
        height: 98%;
    }

    .first-frame-section {
        //         width: 64px;
        //         display: flex;
        //         justify-content: flex-end;

        >h2 {
            font-size: 17px;
        }
    }

    .second-frame-section {
        //         display: flex;

        >h1 {
            font-size: 28px;
        }

        >h2 {
            font-size: 22px;
        }
    }

}

//     .lets-talk-button{
//         bottom: -70px;
//     }

// .above-the-fold-bottom-bar{
//     margin-bottom: 24px;
//     margin-right: 0;
// }

// .frame{
//     padding: 0 15px;
// }

// }

@media (max-width: 379px) {
    .border-mobile {
        height: 100%;
    }

    .first-frame-section {
        //         width: 64px;
        //         display: flex;
        //         justify-content: flex-end;

        >h2 {
            font-size: 14px;
        }
    }

    .second-frame-section {
        //         display: flex;

        >h1 {
            font-size: 24px;
        }

        >h2 {
            font-size: 19px;
        }
    }

    .hero {
        background-position: top 24px center;
    }

}

// @media (max-width: 349px){
//     .frame{
//         padding: 0px 16px;
//     }
// }





@media (max-height: 600px) {

    // .hero{
    //     background-position: top 28px center;
    //     height: 100%;
    // }
    .border-mobile {
        height: 80%;
        background-size: cover;
    }
}


@media (max-height: 700px) {

    // .hero{
    //     background-position: top 28px center;
    //     height: 100%;
    // }
    .border-mobile {
        height: 80% !important;
        background-size: cover;
    }
}



@media (max-height: 820px) {

    // .hero{
    //     background-position: top 28px center;
    //     height: 100%;
    // }
    .border-mobile {
        height: 100%;
        background-size: cover;
    }
}










// @media (max-width: 799px) {

//     .above-the-fold {
//         background-position: center;
//         background-size: contain;
//         height: 100vh;
//     }

//     .above-the-fold-content {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         align-items: center;
//     }

//     .hero {
//         width: 60%;

//         >img {
//             padding-top: 50px;
//             height: fit-content;
//             overflow: hidden;
//         }
//     }

//     #email-adress {
//         display: none;
//     }

//     .frame-side {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         // margin-top: -220px;

//         // margin-top: -340px;

//         margin-top: -308px;
//         width: 80%;
//     }

//     .scroll {
//         display: none;
//     }

//     .frame {
//         margin: 32px 32px 32px 0;
//     }

//     .first-frame-section {
//         width: 64px;
//         display: flex;
//         justify-content: flex-end;

//         >h2 {
//             font-size: 19px;
//         }
//     }

//     .second-frame-section {
//         display: flex;

//         >h1 {
//             font-size: 40px;
//         }

//         >h2 {
//             font-size: 31px;
//         }
//     }

//     .lets-talk-button {
//         padding: 10px 10px;
//     }

//     .border {
//         // margin-top: -373px;
//         // height: 500px;

//         // margin-top: -470px;
//         // height: 570px;

//         margin-top: -388px;
//         height: 580px;
//     }
// }

// @media (max-width: 749px) {
//     .frame-side {
//         // margin-top: -240px;
//     }

//     .border {
//         // margin-top: -355px;
//         // height: 498px;
//     }

// }

// @media (max-width: 699px) {
//     .frame-side {
//         width: 90%;
//     }

//     .hero{
//         width: 80%;
//     }
// }

// @media (max-width: 549px) {
//     .frame-side {
//         margin-top: -300px;
//         width: 100%;
//     }

//     .border {
//         // margin-top: -420px;
//         // height: 600px;
//         margin-top: -460px;
//         height: 730px;
//     }
// }

// @media (max-width: 499px) {
//     .frame-side {
//         margin-top: -380px;
//     }

//     .border {
//         margin-top: -460px;
//         height: 730px;
//     }
// }

// @media (max-width: 449px) {
//     .frame-side {
//         margin-top: -355px;

//     }

//     .hero {
//         width: 100%;
//     }

//     .second-frame-section {
//         display: flex;

//         >h1 {
//             font-size: 30px;
//         }

//         >h2 {
//             font-size: 23px;
//         }
//     }
// }

// @media (max-width: 375px) {

//     .first-frame-section {
//         >h2 {
//             font-size: 16px;
//         }
//     }

//     .second-frame-section {
//         display: flex;

//         >h1 {
//             font-size: 26px;
//         }

//         >h2 {
//             font-size: 20px;
//         }
//     }

//     .purple-line {
//         width: 68px;
//     }

//     .lets-talk-button {
//         font-size: 18px;
//     }

//     .hero {

//         height: 750px;
//     }

//     .border {
//         margin-top: -430px;
//         height: 700px;
//     }

//     .frame-side {
//         margin-top: -260px;
//     }
// }

// @media (max-width: 345px) {

//     .second-frame-section {
//         >h1 {
//             font-size: 24px;
//         }

//         >h2 {
//             font-size: 18px;
//         }
//     }

//     .first-frame-section {
//         >h2 {
//             font-size: 18px;
//         }
//     }

//     .lets-talk-button {
//         font-size: 15px;
//     }

//     .purple-line {
//         width: 48px;
//     }
// }

// @media (max-height: 800px) {
//     .above-the-fold-content {
//         padding: 10px; /* Reduziert den Abstand bei kleineren Höhen */
//     }

//     // .second-frame-section > h1 {
//     //     font-size: 40px; /* Verkleinert den Text */
//     // }

//     // .second-frame-section > h2 {
//     //     font-size: 28px;
//     // }

//     // .lets-talk-button {
//     //     padding: 10px 20px; /* Verkleinert den Button */
//     // }

//     .border {
//         margin-top: -350px; /* Passt den negativen Margin-Wert an */
//         // height: 500px; /* Verkleinert die Höhe der Border */
//         height: 570px;
//     }

//     .frame-side{
//         // margin-top: -340px;
//         margin-top: -280px;
//     }
// }

// @media (max-height: 790px){



// }