.portfolio-section {
    max-width: 1920px;
    width: 100%;
    color: white;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 32px;

    >p {
        text-align: center;
    }
}

.portfolio-project {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 17px;
}

.img {
    display: flex;
    justify-content: center;
    width: 480px;
    max-width: 100%;

    >img {
        max-height: 400px;
        max-width: 100%;
    }
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    gap: 18px;
    text-align: center;

    >h3 {
        color: rgba(151, 71, 255, 1);
        font-size: 32px;
    }

    >h4 {
        color: rgba(112, 230, 28, 1);
        font-size: 23px;
        font-weight: 400;
    }
}

.button-box {
    display: flex;
    justify-content: flex-start;
    gap: 60px;

    >button {
        border-radius: 10px;
        border-style: none;
        color: white;
        background-color: rgba(151, 71, 255, 1);
        font-size: 23px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {

            background-color: rgba(112, 230, 28, 1);
            cursor: pointer;
        }
    }
}

.github-button {
    background-color: rgba(20, 29, 47, 1) !important;
    border-style: solid !important;
    border-color: rgba(112, 230, 28, 1) !important;

    &:hover {

        background-color: rgba(112, 230, 28, 1) !important;
        cursor: pointer;
    }
}

.headline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;

    >h1 {
        font-size: 90px;
    }
}

.first-purple-line {
    height: 4px;
    width: 100px;
    background-color: rgba(151, 71, 255, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.second-purple-line {
    height: 4px;
    width: 507px;
    background-color: rgba(151, 71, 255, 1);
}

.second-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    gap: 17px;
}

.second-text-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}



@media(max-width: 1149px) {
    // .portfolio-project {
    //     height: 350px;
    // }

    // .secon

    .img {
        >img {
            max-height: 300px;
        }
    }

    .headline{
        >h1 {
            font-size: 80px;
        }
    }
}

@media(max-width: 949px) {
    .button-box{
        >button{
            padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
        }
    }

    .headline{
        >h1 {
            font-size: 70px;
        }
    }
}

@media(max-width: 879px){
    .portfolio-project{
        flex-direction: column;
        align-items: center;
    }

    .second-box{
        flex-direction: column;
        align-items: center;
    }

    .text{
        align-items: center;
    }

    .second-text-box{
        align-items: center;
    }

    .img {
        >img {
            max-height: 400px;
        }
    }

    .headline{
        >h1 {
            font-size: 60px;
        }
    }
}

@media(max-width: 599px){

    .headline{
        gap: 17px;
        >h1 {
            font-size: 50px;
        }
    }

    .img {
        >img {
            max-height: 350px;
        }
    }

}

@media(max-width: 499px){
    .headline{
        >h1 {
            font-size: 45px;
        }
    }

    .img {
        >img {
            max-height: 250px;
        }
    }
}

@media(max-width: 399px) {

    .button-box{
        >button{
            
            font-size: 16px;
            padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
        }
    }
    
    .headline{
        gap: 10px;
        >h1 {
            font-size: 40px;
        }
    }
    .img {
        >img {
            max-height: 200px;
        }
    }
}