<div class="navbar-background">
  <div class="navbar">

    <div id="menu-overlay" class="menu-overlay-bg d-none">
      <div class="menu-overlay">
        <a href="#about-me">
          <div>{{ 'ABOUT_ME' | translate }}</div>
        </a>
        <a href="#my-skills">
          <div>{{ 'SKILLS' | translate }}</div>
        </a>
        <a href="#portfolio">
          <div>{{ 'PORTFOLIO' | translate }}</div>
        </a>
        <a href="#contact-component">
          <div>{{ 'CONTACT' | translate }}</div>
        </a>
      </div>
    </div>

    <div class="logo">
      <a href="#top"><img src="./../../../assets/img/logo-hm.png" alt=""></a>
    </div>

    <div>

      <!-- <div class="language">
        <a (click)="switchLanguage('de')" [class.active]="currentLang === 'de'">DE</a> |
        <a (click)="switchLanguage('en')" [class.active]="currentLang === 'en'">EN</a> |
        <a (click)="switchLanguage('es')" [class.active]="currentLang === 'es'">ES</a>
      </div> -->

      <div class="language">
        <a (click)="switchLanguage('de')" [class.active]="currentLang === 'de'" class="language-link">DE</a> |
        <a (click)="switchLanguage('en')" [class.active]="currentLang === 'en'" class="language-link">EN</a> |
        <a (click)="switchLanguage('es')" [class.active]="currentLang === 'es'" class="language-link">ES</a>
      </div>
      
      

      <a href="#about-me">{{ 'ABOUT_ME' | translate }}</a>
      <a href="#my-skills">{{ 'SKILLS' | translate }}</a>
      <a href="#portfolio">{{ 'PORTFOLIO' | translate }}</a>
      <a href="#contact-component">{{ 'CONTACT' | translate }}</a>
      <div id="burger-menu-button" class="burger-menu">
        <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="line line1" d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
          <path class="line line2" d="M1 15.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
          <path class="line line3" d="M1 29.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        </svg>
      </div>
    </div>

  </div>
</div>