<div class="background">
    <a id="pp-top"></a>
    <div class="text-section">
        <h4>{{ 'PRIVACY_POLICY' | translate }}</h4>

        <p>{{ 'PP_1' | translate }}</p>

        <p>{{ 'PP_2' | translate }}</p>

        <p>{{ 'PP_3' | translate }}</p>

        <h4>1. {{ 'DEFINITIONS' | translate }}</h4>
        <p>{{ 'PP_DEFINITION_INTRO' | translate }}</p>

        <p>{{ 'PP_TERMINOLOGY_INTRO' | translate }}</p>

        <ul style="list-style: none">
            <li>
                <h4>a) {{ 'PP_PERSONAL_DATA' | translate }}</h4>
                <p>{{ 'PP_PERSONAL_DATA_DESC' | translate }}</p>
            </li>
            <li>
                <h4>b) {{ 'PP_DATA_SUBJECT' | translate }}</h4>
                <p>{{ 'PP_DATA_SUBJECT_DESC' | translate }}</p>
            </li>
            <li>
                <h4>c) {{ 'PP_PROCESSING' | translate }}</h4>
                <p>{{ 'PP_PROCESSING_DESC' | translate }}</p>
            </li>
            <li>
                <h4>d) {{ 'PP_RESTRICTION' | translate }}</h4>
                <p>{{ 'PP_RESTRICTION_DESC' | translate }}</p>
            </li>
            <li>
                <h4>e) {{ 'PP_PROFILING' | translate }}</h4>
                <p>{{ 'PP_PROFILING_DESC' | translate }}</p>
            </li>
            <li>
                <h4>f) {{ 'PP_PSEUDONYMISATION' | translate }}</h4>
                <p>{{ 'PP_PSEUDONYMISATION_DESC' | translate }}</p>
            </li>
            <li>
                <h4>g) {{ 'PP_CONTROLLER' | translate }}</h4>
                <p>{{ 'PP_CONTROLLER_DESC' | translate }}</p>
            </li>
            <li>
                <h4>h) {{ 'PP_PROCESSOR' | translate }}</h4>
                <p>{{ 'PP_PROCESSOR_DESC' | translate }}</p>
            </li>
            <li>
                <h4>i) {{ 'PP_RECIPIENT' | translate }}</h4>
                <p>{{ 'PP_RECIPIENT_DESC' | translate }}</p>
            </li>
            <li>
                <h4>j) {{ 'PP_THIRD_PARTY' | translate }}</h4>
                <p>{{ 'PP_THIRD_PARTY_DESC' | translate }}</p>
            </li>
            <li>
                <h4>k) {{ 'PP_CONSENT' | translate }}</h4>
                <p>{{ 'PP_CONSENT_DESC' | translate }}</p>
            </li>
        </ul>

        <h4>{{ 'NAME_AND_ADDRESS' | translate }}</h4>
        <p>{{ 'CONTROLLER_INFO' | translate }}</p>


        <p>Helmut Martens</p>
        <p>Gnadental 350</p>
        <p>01153 Colonia Neuland</p>
        <p>Paraguay</p>
        <p>{{ 'PHONE' | translate }}</p>
        <p>Email: helmut.martens87&#64;gmail.com</p>
        <p>Website: https://helmut-martens.com/</p>

        <h4>{{ 'COLLECTION_GENERAL_DATA' | translate }}</h4>
        <p>{{ 'GENERAL_DATA_INFO' | translate }}</p>
        <p>{{ 'USAGE_INFO' | translate }}</p>


        <h4>{{ 'CONTACT_POSSIBILITY' | translate }}</h4>
        <p>{{ 'CONTACT_INFO' | translate }}</p>


        <h4>{{ 'ROUTINE_ERASURE' | translate }}</h4>
        <p>{{ 'ROUTINE_ERASURE_TEXT_1' | translate }}</p>
        <p>{{ 'ROUTINE_ERASURE_TEXT_2' | translate }}</p>


        <h4>{{ 'RIGHTS_OF_DATA_SUBJECT' | translate }}</h4>
        <ul style="list-style: none;">
            <li>
                <h4>{{ 'RIGHT_OF_CONFIRMATION' | translate }}</h4>
                <p>{{ 'RIGHT_OF_CONFIRMATION_TEXT' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_OF_ACCESS' | translate }}</h4>
                <p>{{ 'RIGHT_OF_ACCESS_TEXT_1' | translate }}</p>
                <ul style="list-style: none;">
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_1' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_2' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_3' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_4' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_5' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_6' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_7' | translate }}</li>
                    <li>{{ 'RIGHT_OF_ACCESS_INFO_8' | translate }}</li>
                </ul>
                <p>{{ 'RIGHT_OF_ACCESS_TEXT_2' | translate }}</p>
                <p>{{ 'RIGHT_OF_ACCESS_TEXT_3' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_RECTIFICATION' | translate }}</h4>
                <p>{{ 'RIGHT_TO_RECTIFICATION_TEXT_1' | translate }}</p>
                <p>{{ 'RIGHT_TO_RECTIFICATION_TEXT_2' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_ERASURE' | translate }}</h4>
                <p>{{ 'RIGHT_TO_ERASURE_TEXT_1' | translate }}</p>
                <ul style="list-style: none;">
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_1' | translate }}</li>
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_2' | translate }}</li>
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_3' | translate }}</li>
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_4' | translate }}</li>
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_5' | translate }}</li>
                    <li>{{ 'RIGHT_TO_ERASURE_CONDITION_6' | translate }}</li>
                </ul>
                <p>{{ 'RIGHT_TO_ERASURE_TEXT_2' | translate }}</p>
                <p>{{ 'RIGHT_TO_ERASURE_TEXT_3' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_OF_RESTRICTION' | translate }}</h4>
                <p>{{ 'RIGHT_OF_RESTRICTION_TEXT_1' | translate }}</p>
                <ul style="list-style: none;">
                    <li>{{ 'RIGHT_OF_RESTRICTION_CONDITION_1' | translate }}</li>
                    <li>{{ 'RIGHT_OF_RESTRICTION_CONDITION_2' | translate }}</li>
                    <li>{{ 'RIGHT_OF_RESTRICTION_CONDITION_3' | translate }}</li>
                    <li>{{ 'RIGHT_OF_RESTRICTION_CONDITION_4' | translate }}</li>
                </ul>
                <p>{{ 'RIGHT_OF_RESTRICTION_TEXT_2' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_DATA_PORTABILITY' | translate }}</h4>
                <p>{{ 'RIGHT_TO_DATA_PORTABILITY_TEXT_1' | translate }}</p>
                <p>{{ 'RIGHT_TO_DATA_PORTABILITY_TEXT_2' | translate }}</p>
                <p>{{ 'RIGHT_TO_DATA_PORTABILITY_TEXT_3' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_OBJECT' | translate }}</h4>
                <p>{{ 'RIGHT_TO_OBJECT_TEXT_1' | translate }}</p>
                <p>{{ 'RIGHT_TO_OBJECT_TEXT_2' | translate }}</p>
                <p>{{ 'RIGHT_TO_OBJECT_TEXT_3' | translate }}</p>
                <p>{{ 'RIGHT_TO_OBJECT_TEXT_4' | translate }}</p>
                <p>{{ 'RIGHT_TO_OBJECT_TEXT_5' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_AUTOMATED_DECISION' | translate }}</h4>
                <p>{{ 'RIGHT_TO_AUTOMATED_DECISION_TEXT_1' | translate }}</p>
                <p>{{ 'RIGHT_TO_AUTOMATED_DECISION_TEXT_2' | translate }}</p>
                <p>{{ 'RIGHT_TO_AUTOMATED_DECISION_TEXT_3' | translate }}</p>
            </li>
            <li>
                <h4>{{ 'RIGHT_TO_WITHDRAW_CONSENT' | translate }}</h4>
                <p>{{ 'RIGHT_TO_WITHDRAW_CONSENT_TEXT_1' | translate }}</p>
                <p>{{ 'RIGHT_TO_WITHDRAW_CONSENT_TEXT_2' | translate }}</p>
            </li>
        </ul>

        <h4>{{ 'DATA_PROTECTION_LINKEDIN' | translate }}</h4>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_1' | translate }}</p>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_2' | translate }}</p>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_3' | translate }}</p>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_4' | translate }}</p>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_5' | translate }}</p>
        <p>{{ 'DATA_PROTECTION_LINKEDIN_TEXT_6' | translate }}</p>


        <h4>{{ 'LEGAL_BASIS_FOR_PROCESSING' | translate }}</h4>
        <p>{{ 'LEGAL_BASIS_FOR_PROCESSING_TEXT' | translate }}</p>

        <h4>{{ 'LEGITIMATE_INTERESTS' | translate }}</h4>
        <p>{{ 'LEGITIMATE_INTERESTS_TEXT' | translate }}</p>

        <h4>{{ 'PERIOD_OF_STORAGE' | translate }}</h4>
        <p>{{ 'PERIOD_OF_STORAGE_TEXT' | translate }}</p>

        <h4>{{ 'PROVISION_OF_PERSONAL_DATA' | translate }}</h4>
        <p>{{ 'PROVISION_OF_PERSONAL_DATA_TEXT' | translate }}</p>

        <h4>{{ 'EXISTENCE_OF_AUTOMATED_DECISION_MAKING' | translate }}</h4>
        <p>{{ 'EXISTENCE_OF_AUTOMATED_DECISION_MAKING_TEXT' | translate }}</p>

        <p>{{ 'DEVELOPED_BY' | translate }}
            <a href="https://willing-able.com/">LegalTech</a>
            {{ 'AT_WILLING_AND_ABLE' | translate }}
            <a href="https://abletocontract.com/">sign pdf online free</a>
            .{{ 'THE_LEGAL_TEXTS' | translate }}
            <a href="https://dg-datenschutz.de/">Prof. Dr. h.c. Heiko Jonny Maniero</a>
            {{ 'FROM_GERMAN_ASSOCIATION' | translate }}
            <a href="https://www.wbs.legal/" rel="nofollow">Christian Solmecke</a>
            {{ 'FROM_WBS_LAW' | translate }}
        </p>


    </div>
</div>