.background {
    background-color: rgba(20, 29, 47, 1);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.text-container {
    width: 100%;
    max-width: 1920px;
    height: calc(100vh - 268px);
    color: white;
    padding: 32px;

    >p {
        >a {
            color: white;

            &:hover {
                color: rgba(112, 230, 28, 1);
            }
        }
    }
}