<div class="background">
    <div class="text-container">
        <h1>Impressum</h1>

        <p>Helmut Martens<br />
            01153 Colonia Neuland<br />
            PARAGUAY</p>

        <h2>{{ 'CONTACT' | translate }}</h2>
        <p>{{ 'PHONE' | translate }}<br />
            E-Mail: info&#64;helmut-martens.com</p>

        <p>{{ 'SOURCE' | translate }}<a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>
    </div>
</div>