* {
    margin: 0;
    overflow: hidden;
}

.landing-page-background {
    background-color: rgba(20, 29, 47, 1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 80px center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.shadows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./../../assets/img/Shadows\ \(1\).png');
    background-repeat: no-repeat;
    width: 100%;
}

app-navbar {
    display: flex;
    justify-content: center;
}

app-above-the-fold {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

app-about-me-component {
    display: flex;
    justify-content: center;
}

app-my-skills-component {
    display: flex;
    justify-content: center;
}

app-portfolio-component {
    display: flex;
    justify-content: center;
    overflow: hidden;
    // padding-left: 32px;
    // padding-right: 32px;
}

app-comments {
    display: flex;
    justify-content: center;
}

app-contact {
    display: flex;
    justify-content: center;
}

@media(max-width:879px) {
    .shadows {
        background-image: none;
    }
}

@media(max-width:999px) {
    .shadows {
        background-size: 100% 100%;
    }
}

@media(max-width:1999px) {
    .shadows {
        background-size: 100% 120%;
    }
}

@media(max-width:2999px) {
    .shadows {
        background-size: 100% 140%;
    }
}

@media(max-width:3499px) {
    .shadows {
        background-size: 100% 160%;
    }
}

@media(min-width:3499px) and (max-width:3999px) {
    .shadows {
        background-size: 100% 300%;
        background-position: initial;
    }
}