* {
    margin: 0;
}

.landing-page-background {
    min-height: 100vh;
    background-color: rgba(20, 29, 47, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

app-navbar {
    display: flex;
    justify-content: center;

}

app-above-the-fold {
    display: flex;
    justify-content: center;
}

app-about-me-component {
    display: flex;
    justify-content: center;
}

app-my-skills-component {
    display: flex;
    justify-content: center;
}

app-portfolio-component {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 32px;
    padding-right: 32px;
}

app-comments {
    display: flex;
    justify-content: center;
}

app-contact {
    display: flex;
    justify-content: center;
}

app-footer{
    display: flex;
    justify-content: center;
}