<div class="navbar">

  <div id="menu-overlay" class="menu-overlay-bg d-none">
    <div class="menu-overlay">
      <a href="#about-me">
        <div>About me</div>
      </a>
      <a href="#my-skills">
        <div>Skills</div>
      </a>
      <a href="#portfolio">
        <div>Portfolio</div>
      </a>
      <a href="#contact-component">
        <div>Contact</div>
      </a>
    </div>
  </div>

  <div>
    <h2>Helmut</h2>
  </div>

  <div>
    <a href="#about-me">About me</a>
    <a href="#my-skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
    <div id="burger-menu-button" class="burger-menu">
      <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="line line1" d="M1 1.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        <path class="line line2" d="M1 15.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
        <path class="line line3" d="M1 29.5127H31" stroke="white" stroke-width="2" stroke-linecap="round" />
      </svg>
    </div>
  </div>

</div>