<div class="about-me-section" id="about-me">
    <div data-aos="fade-right" data-aos-delay="200" class="text-section">
        <h1>{{ 'ABOUT_ME' | translate }}</h1>
        <p>{{ 'PERSONAL_DESCRIPTION' | translate }}
        </p>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/11.Location.svg" alt="">
            <p>{{ 'LOCATION' | translate }}
            </p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/12. bulb desktop.svg" alt="">
            <p>{{ 'KNOWLEDGE' | translate }}</p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/13. puzzle desktop.svg" alt="">
            <p>{{ 'ABILITIES' | translate }}</p>
        </div>
    </div>
    <div data-aos="fade-left" data-aos-delay="200" class="picture-section">
        <div class="picture-frame">
            <img src="/assets/img/portrait.png" alt="">
        </div>
        <div class="green-line"></div>
    </div>
</div>