<div class="about-me-section" id="about-me">
    <div class="text-section">
        <h1>About me</h1>
        <p>Hello, I am a German-speaking frontend developer living in Neuland, Paraguay. 
            Driven by the endless possibilities in the IT world, 
            I am passionate about creating visually appealing and user-friendly websites and applications.
        </p>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/11.Location.svg" alt="">
            <p> I can work effectively remote from Paraguay and have the advantage 
                of being available for work in the German-speaking region even during late night hours, 
                thanks to the different time zones.
            </p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/12. bulb desktop.svg" alt="">
            <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and
                skills.</p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/13. puzzle desktop.svg" alt="">
            <p>
                With my ability to simplify complex technical challenges into intuitive solutions, 
                I help you solve problems in creative ways</p>
        </div>
    </div>
    <div class="picture-section">
        <div class="picture-frame">
            <img src="/assets/img/portrait.png" alt="">
        </div>
        <div class="green-line"></div>
    </div>
</div>