<div class="about-me-section" id="about-me">
    <div class="text-section">
        <h1>About me</h1>
        <p>Hi, I'm a german speaking Frontend Developer based in Neuland Colony in Paraguay.
            Motivated by the limitless opportunities within IT, i am excited about crafting
            visually captivating and intuitive websites and applications.
        </p>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/11.Location.svg" alt="">
            <p>Flexible in terms of working enviroments, I can work effectively both on-site in Paraguay and remotly.</p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/12. bulb desktop.svg" alt="">
            <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
        </div>
        <div class="about-me-sub-boxes">
            <img src="/assets/img/13. puzzle desktop.svg" alt="">
            <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex tchnical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</p>
        </div>
    </div>
    <div class="picture-section">
        <div class="picture-frame">
<img src="/assets/img/portrait.png" alt="">
        </div>
        <div class="green-line"></div>
    </div>
</div>