<div id="footer" class="footer">
    
        <div class="left-side">
            <h2>Helmut</h2>
            <a id="impressum-name" href="imprint">Impressum</a>
        </div>

        <div class="middle">
            <p>© Helmut Martens 2024</p>
        </div>

        <div class="right-side">
            <a href="https://github.com/HelmutM87"><img src="/assets/img/Property 1=Default.svg" alt="github"></a>
            <a href="mailto:info@helmut-martens.com"><img src="/assets/img/Property 1=Default (1).svg" alt="email"></a>
            <a href="https://www.linkedin.com/in/helmut-martens-2174921b2"><img src="/assets/img/Vector (3).svg" alt=""></a>
        </div>

        <a id="impressum-icon" href="imprint">Impressum</a>
    
</div>