<div class="background">
    <div id="footer" class="footer">

        <div class="left-side">
            <a href="#top"><img src="./../../../assets/img/logo-hm.png" alt=""></a>
            <a id="impressum-name" [routerLink]="['/imprint']">Impressum</a>
        </div>

        <div class="middle">
            <p>© Helmut Martens 2024</p>
        </div>

        <div class="right-side">
            <img (click)="openInNewTab('https://github.com/HelmutM87')" src="/assets/img/Property 1=Default.svg"
                alt="github">
            <a href="mailto:info@helmut-martens.com"><img src="/assets/img/Property 1=Default (1).svg" alt="email"></a>
            <img (click)="openInNewTab('https://www.linkedin.com/in/helmut-martens-2174921b2')"
                src="/assets/img/Vector (3).svg" alt="">
        </div>

        <a id="impressum-icon" [routerLink]="['/imprint']">Impressum</a>
        
    </div>
</div>